name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    name: Test

    steps:
      - uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          cache: 'npm'
          node-version: 20

      - uses: astral-sh/setup-uv@v7
        with:
          version: ">=0.5.0"
          enable-cache: true

      - name: Format toml
        run: uv run taplo fmt --check --diff

      - name: Format and lint (python)
        run: |
          uv run ruff check
          uv run ruff format --check

      - name: Install Node dependencies
        run: npm ci

      - run: npm run build
