name: Test

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    name: Test

    steps:
      - uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2.3.0

      - name: Install Node dependencies
        run: yarn --frozen-lockfile

      - run: yarn build
